<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
        /* Shrink Wrap Layout Pattern CSS */
        @media only screen and (max-width: 599px) {
            td[class="hero"] img {
                width: 100%;
                height: auto !important;
            }
            td[class="pattern"] td{
                width: 100%;
            }
        }
    </style>
  </head>
  <body style="background: #fdfdfd">
    <img src="https://i.imgur.com/ILxLITx.png" alt="" style="border: 0;max-width: 250px;display: block;margin: 25px auto;">
    <table cellpadding="0" cellspacing="0" style="margin: 0 auto">
        <tr>
            <td class="pattern" width="600">
                <table cellpadding="0" cellspacing="0" style="background: white; padding: 25px; border: 1px solid #f0f0f0;">
                    <tr>
                        <td align="left" style="font-family: helvetica, arial, sans-serif; color: #333;">
                            <h1 style="font-size: 18px; margin-bottom: 25px;">Verify Your SMUMods Account</h1>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="font-family: helvetica, arial, sans-serif; font-weight: 300; font-size: 16px; line-height: 20px !important; color: #666; padding-bottom: 20px;">
                            <strong style="font-weight: 600">Hi <%= @user.first_name %>!</strong><br/>
                            <p style="line-height: 1.5">
                                We are really excited to have you on our platform. Your identity is integral to our vision for <strong style="font-weight: 600">building a community based on trust and value-add.</strong> It's as easy as clicking the button below.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="https://www.smumods.com/user/verify?token=<%= @user.email_token %>" style=" border-color: #348eda; text-decoration: none; display: inline-block; margin: 0; color: #ffffff; background-color: #348eda; border: solid 1px #348eda; border-radius: 2px; cursor: pointer; font-size: 16px; padding: 12px 45px; font-family: arial, sans-serif;" target="_blank" rel="noopener">Verify Me!</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" style="margin: 0 auto; margin-top: 25px; font-family: helvetica, arial, sans-serif; font-size: 12px;">

        <tr>
            <td align="center">
                © SMUMods. 81 Victoria St, Singapore 188065.
            </td>
        </tr>
        <tr>
            <td align="center">
                <p>
                    <a href="https://smumods.com" style="margin: 0 5px; text-decoration: none; color: #348eda;">Home</a>
                    <a href="https://twitter.com/smumods" style="margin: 0 5px; text-decoration: none; color: #348eda;">Twitter</a>
                    <a href="https://www.facebook.com/smumods" style="margin: 0 5px; text-decoration: none; color: #348eda;">Facebook</a>
                    <a href="https://www.linkedin.com/company/smumods/" style="margin: 0 5px; text-decoration: none; color: #348eda;">LinkedIn</a>
                    <a href="https://t.me/smumodsbot?start=email" style="margin: 0 5px; text-decoration: none; color: #348eda;">Telegram</a>
                </p>
            </td>
        </tr>
    </div>
  </body>
</html>
